.env
.vscode/
__pycache__/
.pytest_cache/

# Virtual environments
.venv/
venv/
env/

# Python
*.pyc
*.pyo
*.pyd
.Python

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE
.idea/

# OS
.DS_Store
Thumbs.db